/python-plugin/
/resrouces/
/config/
/data/
/Backcount/
/Backoff/
/py/life/__pycache__/
/py/bilibili/__pycache__/
/py/genshincalendar/__pycache__/
/py/lifeRestart/__pycache__/
/py/petpet/__pycache__/
/py/sign/__pycache__/
/py/toro/__pycache__/